In [18]:
import pandas as pd
import numpy as np

In [117]:
promo_sum = pd.read_csv("../data/promo_sum_history.csv", index_col=0)
sales_sum = pd.read_csv("../data/sales_sum_history.csv", index_col=0)

In [4]:
promo_sum

,skutertiaryid,chaindiscountvalue,start_year,start_week,revenue,soldpieces,sold_added
52,7182,0.206007,2019,46,6.976407e+07,2301296,0.600504
43,7182,0.206215,2019,42,7.852176e+07,2587576,0.675206
39,7182,0.205024,2019,38,6.393776e+07,2119216,0.552991
27,7182,0.146242,2019,26,3.846121e+07,1787199,0.466354
14,7182,0.198616,2019,17,1.681596e+08,5753487,1.501324
...,...,...,...,...,...,...,...
4,7205,0.221040,2019,8,5.452037e+06,3142354,1.187179
11,7205,0.154356,2019,16,7.018317e+06,4684197,1.769686
5,7234,0.216858,2019,8,2.599516e+07,3142354,0.235008
1,7234,0.239229,2019,4,3.136620e+07,2543043,0.190187
13,7234,0.142418,2019,16,3.291463e+07,4684197,0.350318

In [43]:
normal_sold = {}
for itemid in sales_sum['skutertiaryid'].unique():
    normal_sold[itemid] = sales_sum[sales_sum['skutertiaryid'] == itemid]['salerevenuerub'].median()

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [6]:
lenc = LabelEncoder()

y = list(promo_sum['chaindiscountvalue'])
X = list(zip(promo_sum['start_week'], promo_sum['revenue'], lenc.fit_transform(promo_sum['skutertiaryid'])))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [7]:
reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

-0.29950372194382635

In [8]:
one = promo_sum.iloc[0]
x_one =[one['start_week'], one['revenue'], lenc.transform([one['skutertiaryid']])[0]]

reg.predict([x_one])

array([0.21123319])

In [9]:
promo_sum.iloc[0]['chaindiscountvalue']

0.20600703018761

In [12]:
promo_sum

,skutertiaryid,chaindiscountvalue,start_year,start_week,revenue,soldpieces,sold_added
52,7182,0.206007,2019,46,6.976407e+07,2301296,0.600504
43,7182,0.206215,2019,42,7.852176e+07,2587576,0.675206
39,7182,0.205024,2019,38,6.393776e+07,2119216,0.552991
27,7182,0.146242,2019,26,3.846121e+07,1787199,0.466354
14,7182,0.198616,2019,17,1.681596e+08,5753487,1.501324
...,...,...,...,...,...,...,...
4,7205,0.221040,2019,8,5.452037e+06,3142354,1.187179
11,7205,0.154356,2019,16,7.018317e+06,4684197,1.769686
5,7234,0.216858,2019,8,2.599516e+07,3142354,0.235008
1,7234,0.239229,2019,4,3.136620e+07,2543043,0.190187
13,7234,0.142418,2019,16,3.291463e+07,4684197,0.350318

In [15]:
promo_sum.sort_values('start_week')

,skutertiaryid,chaindiscountvalue,start_year,start_week,revenue,soldpieces,sold_added
1,7234,0.239229,2019,3,7.209066e+07,2543043,0.190187
0,7205,0.228495,2019,3,2.789668e+07,2543043,0.960759
1,7234,0.239229,2019,4,3.136620e+07,2543043,0.190187
0,7205,0.228495,2019,4,5.949511e+06,2543043,0.960759
4,7205,0.221040,2019,7,3.334620e+07,3142354,1.187179
...,...,...,...,...,...,...,...
52,7182,0.206007,2019,46,6.976407e+07,2301296,0.600504
58,7234,0.171371,2019,49,4.536458e+07,2233920,0.167069
55,7205,0.158584,2019,49,1.700776e+07,2233920,0.843973
60,7194,0.307070,2019,50,1.465767e+08,2193759,0.268404
59,7189,0.312877,2019,50,3.083378e+07,2193759,2.957324

In [42]:
sales_sum

      skutertiaryid  salerevenuerub  soldpieces  week  year
0              7182    4.067299e+06       48862    17  2018
1              7182    7.811600e+05        9381    18  2018
2              7182    3.837060e+06       46044    18  2018
3              7182    4.894995e+06       63986    19  2018
4              7182    4.523049e+06       57705    20  2018
...             ...             ...         ...   ...   ...
1621           7247    3.568052e+05       55526    49  2020
1622           7247    3.178194e+05       44413    50  2020
1623           7247    2.838037e+05       36979    51  2020
1624           7247    2.768375e+05       36098    52  2020
1625           7247    2.190033e+05       28544    53  2020

[1626 rows x 5 columns]

In [82]:
train_data = []
for itemid in promo_sum['skutertiaryid'].unique():
    promo_item = promo_sum[promo_sum['skutertiaryid'] == itemid].sort_values('start_week')
    last_week: int = 0
    for index, row in promo_item.iterrows():
        if row['start_week'] - last_week > 1:
            for i in range(last_week+1, int(row['start_week'])):
                week_sales = sales_sum[(sales_sum['year'] == row['start_year']) & (sales_sum['week'] == i) & (sales_sum['skutertiaryid'] == row['skutertiaryid'])]
                if len(week_sales) > 0:
                    train_data.append([
                                        int(row['skutertiaryid']),
                                        0,
                                        int(row['start_year']), 
                                        int(i), 
                                        0,
                                        week_sales.iloc[0]['soldpieces'],
                                        week_sales.iloc[0]['soldpieces']/normal_sold[row['skutertiaryid']]
                                       ])
                    last_week = int(row['start_week'])
                else:
                    train_data.append([int(row['skutertiaryid']), 0, int(row['start_year']), int(i), 0,\
                                    np.nan,\
                                    np.nan])
        train_data.append(row.values)

In [83]:
train_data = pd.DataFrame(train_data, columns=promo_sum.columns)
train_data

,skutertiaryid,chaindiscountvalue,start_year,start_week,revenue,soldpieces,sold_added
0,7182.0,0.000000,2019.0,1.0,0.000000e+00,195914.0,0.051122
1,7182.0,0.000000,2019.0,2.0,0.000000e+00,83211.0,0.021713
2,7182.0,0.000000,2019.0,3.0,0.000000e+00,40234.0,0.010499
3,7182.0,0.000000,2019.0,4.0,0.000000e+00,36954.0,0.009643
4,7182.0,0.000000,2019.0,5.0,0.000000e+00,20368.0,0.005315
...,...,...,...,...,...,...,...
410,7238.0,0.000000,2019.0,40.0,0.000000e+00,9375.0,0.007392
411,7238.0,0.000000,2019.0,41.0,0.000000e+00,73635.0,0.058057
412,7238.0,0.000000,2019.0,42.0,0.000000e+00,78578.0,0.061954
413,7238.0,0.000000,2019.0,43.0,0.000000e+00,78239.0,0.061687
414,7238.0,0.114543,2019.0,44.0,6.111674e+06,961545.0,0.758124

In [84]:
sold_added_med = {}
soldpieces_med = {}
for itemid in promo_sum['skutertiaryid'].unique():
    sold_added_med[itemid] = train_data[train_data['skutertiaryid'] == itemid]['sold_added'].median()
    soldpieces_med[itemid] = train_data[train_data['skutertiaryid'] == itemid]['soldpieces'].median()

In [85]:
for i, row in train_data.iterrows():
    if np.isnan(row['soldpieces']):
        row['soldpieces'] = soldpieces_med[row['skutertiaryid']]
    if np.isnan(row['sold_added']):
        row['sold_added'] = sold_added_med[row['skutertiaryid']]

In [86]:
train_data[train_data['skutertiaryid'] == 7234].sort_values('start_week')

,skutertiaryid,chaindiscountvalue,start_year,start_week,revenue,soldpieces,sold_added
282,7234.0,0.000000,2019.0,1.0,0.000000e+00,248424.0,0.018579
283,7234.0,0.000000,2019.0,2.0,0.000000e+00,212346.0,0.015881
284,7234.0,0.239229,2019.0,3.0,7.209066e+07,2543043.0,0.190187
285,7234.0,0.239229,2019.0,4.0,3.136620e+07,2543043.0,0.190187
286,7234.0,0.000000,2019.0,4.0,0.000000e+00,215712.0,0.016132
287,7234.0,0.000000,2019.0,5.0,0.000000e+00,91044.0,0.006809
288,7234.0,0.000000,2019.0,6.0,0.000000e+00,152712.0,0.011421
289,7234.0,0.216858,2019.0,7.0,8.074984e+07,3142354.0,0.235008
290,7234.0,0.216858,2019.0,8.0,2.599516e+07,3142354.0,0.235008
291,7234.0,0.000000,2019.0,8.0,0.000000e+00,217798.0,0.016288
292,7234.0,0.000000,2019.0,9.0,0.000000e+00,93747.0,0.007011
293,7234.0,0.000000,2019.0,10.0,0.000000e+00,156783.0,0.011725
294,7234.0,0.000000,2019.0,11.0,0.000000e+00,176928.0,0.013232
295,7234.0,0.000000,2019.0,12.0,0.000000e+00,181488.0,0.013573
296,7234.0,0.000000,2019.0,13.0,0.000000e+00,186553.0,0.013952
297,7234.0,0.000000,2019.0,14.0,0.000000e+00,188514.0,0.014098
298,7234.0,0.142418,2019.0,15.0,7.905198e+07,4684197.0,0.350318
299,7234.0,0.142418,2019.0,16.0,3.291463e+07,4684197.0,0.350318
300,7234.0,0.000000,2019.0,16.0,0.000000e+00,377180.0,0.028208
301,7234.0,0.000000,2019.0,17.0,0.000000e+00,332544.0,0.024870
302,7234.0,0.000000,2019.0,18.0,0.000000e+00,73645.0,0.005508
303,7234.0,0.162865,2019.0,19.0,7.768380e+07,4025235.0,0.301036
304,7234.0,0.000000,2019.0,20.0,0.000000e+00,363741.0,0.027203
305,7234.0,0.204431,2019.0,21.0,2.855162e+08,11786149.0,0.881453
306,7234.0,0.000000,2019.0,22.0,0.000000e+00,254807.0,0.019056
307,7234.0,0.000000,2019.0,23.0,0.000000e+00,251615.5,0.018818
308,7234.0,0.000000,2019.0,24.0,0.000000e+00,251615.5,0.018818
309,7234.0,0.000000,2019.0,25.0,0.000000e+00,251615.5,0.018818
310,7234.0,0.000000,2019.0,26.0,0.000000e+00,251615.5,0.018818
311,7234.0,0.000000,2019.0,27.0,0.000000e+00,321554.0,0.024048
312,7234.0,0.000000,2019.0,28.0,0.000000e+00,308364.0,0.023062
313,7234.0,0.180875,2019.0,29.0,7.793473e+07,3636140.0,0.271937
314,7234.0,0.000000,2019.0,30.0,0.000000e+00,376943.0,0.028190
315,7234.0,0.000000,2019.0,31.0,0.000000e+00,113938.0,0.008521
316,7234.0,0.223676,2019.0,32.0,8.554278e+07,3227397.0,0.241368
317,7234.0,0.000000,2019.0,33.0,0.000000e+00,335205.0,0.025069
318,7234.0,0.000000,2019.0,34.0,0.000000e+00,284477.0,0.021275
319,7234.0,0.000000,2019.0,35.0,0.000000e+00,219544.0,0.016419
320,7234.0,0.000000,2019.0,36.0,0.000000e+00,310700.0,0.023236
321,7234.0,0.000000,2019.0,37.0,0.000000e+00,277807.0,0.020776
322,7234.0,0.000000,2019.0,38.0,0.000000e+00,204682.0,0.015308
323,7234.0,0.000000,2019.0,39.0,0.000000e+00,189762.0,0.014192
324,7234.0,0.000000,2019.0,40.0,0.000000e+00,28979.0,0.002167
325,7234.0,0.000000,2019.0,41.0,0.000000e+00,213160.0,0.015942
326,7234.0,0.170127,2019.0,42.0,5.216486e+07,2587576.0,0.193517
327,7234.0,0.000000,2019.0,43.0,0.000000e+00,230252.0,0.017220
328,7234.0,0.000000,2019.0,44.0,0.000000e+00,98481.0,0.007365
329,7234.0,0.000000,2019.0,45.0,0.000000e+00,197416.0,0.014764
330,7234.0,0.175490,2019.0,46.0,4.785586e+07,2301296.0,0.172107
331,7234.0,0.000000,2019.0,47.0,0.000000e+00,207974.0,0.015554
332,7234.0,0.000000,2019.0,48.0,0.000000e+00,147698.0,0.011046
333,7234.0,0.171371,2019.0,49.0,4.536458e+07,2233920.0,0.167069

In [137]:
lenc = LabelEncoder()

y = list(train_data['sold_added'])
X = list(zip(train_data['chaindiscountvalue'], train_data['soldpieces'], train_data['revenue'], train_data['start_week'], lenc.fit_transform(train_data['skutertiaryid'])))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [138]:

reg = LinearRegression()
reg.fit(X_train, y_train)
reg.score(X_test, y_test)

0.6240416332413709

In [142]:
one = train_data.sample(1).iloc[0]
x_one =[one['chaindiscountvalue'], one['soldpieces'], one['revenue'], one['start_week'], lenc.transform([one['skutertiaryid']])[0]]

print(reg.predict([x_one])[0])
print(one['sold_added'])

0.13924291435922354
0.02306033481304068

# NEXT

In [122]:
import plotly.express as px

In [127]:
sales_20 = sales_sum[(sales_sum['skutertiaryid'] == 7182) & (sales_sum['year'] == 2020)]
sales_20

     skutertiaryid  salerevenuerub  soldpieces  week  year
100           7182    6.915507e+06       92976     1  2020
101           7182    6.089150e+06       75077     2  2020
102           7182    4.831334e+06       55981     3  2020
103           7182    4.763335e+06       56485     4  2020
104           7182    3.564996e+06       45487     5  2020
..             ...             ...         ...   ...   ...
158           7182    3.017431e+06       31272    49  2020
159           7182    3.623377e+06       37332    50  2020
160           7182    3.921052e+06       40431    51  2020
161           7182    6.781731e+06       97103    52  2020
162           7182    9.106489e+06      136937    53  2020

[63 rows x 5 columns]

In [144]:
weeks = sales_sum.sort_values('week')['week'].unique()
items = sales_sum['skutertiaryid'].unique()

In [145]:
soldpieces_median = {}
for itemid in sales_sum['skutertiaryid'].unique():
    sales_item = sales_sum[sales_sum['skutertiaryid'] == itemid]
    soldpieces_med[itemid] = {}
    for week in weeks:
        soldpieces_med[itemid][week] = sales_item[sales_item['week'] == week]['soldpieces'].median()

In [146]:
[one['chaindiscountvalue'], one['soldpieces'], one['revenue'], one['start_week'], lenc.transform([one['skutertiaryid']])[0]]

[0.0, 188480.0, 0.0, 43.0, 3]

In [187]:
from numpy.random import multinomial
import random

def get_random_distribution(n, all_sum, s=random.random()):
    return np.random.multinomial(all_sum, np.random.dirichlet(np.ones(n)*s))

In [191]:
get_random_distribution(53, pow(10, 10))

array([1100713182,  143823882,   48007991,       2392,  108494325,
          3272319,          5,     311755,   15173264,   22539703,
        161463405,    1494064,     489073,  853088319,     281838,
         43069462,   31597860,  437450054,      25749,  424504309,
             2096,    9695421,   75520996,  778736866,   88697267,
               38,     127603,   22885803,  467858424,    4628026,
          3449164, 1338240881,         16,       4575,   24770301,
          4776642,   21660277,    3372269,  293764729,   83977857,
        147160063,  631509876,   25853370,    7576793,   51309487,
         28789584,  621322150,    8755069,       6655, 1557213139,
        267805998,      49123,   34676491])

In [159]:
test_data = []
next_revenue = pow(10,10)
for itemid in lenc.classes_:
    for week in weeks:
        test_data.append([int(itemid), 0.15, soldpieces_med[itemid][week], next_revenue, week])
test_data = pd.DataFrame(test_data, columns=['skutertiaryid', 'chaindiscountvalue', 'soldpieces', 'revenue', 'start_week'])

In [204]:
test_data = []
next_revenue = pow(10,10)
itemid = 7182
seed = random.random()
max_sale = promo_sum[sales_sum['skutertiaryid'] == itemid]['chaindiscountvalue'].max()
for week in weeks:
    test_data.append([random.uniform(0, max_sale), soldpieces_med[itemid][week], week, itemid])
test_data = pd.DataFrame(test_data, columns=['chaindiscountvalue', 'soldpieces', 'start_week', 'skutertiaryid'])
test_data['revenue'] = get_random_distribution(len(weeks), next_revenue, seed)

<ipython-input-204-d01bc3c61c51>:4: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [207]:
X = list(zip(test_data['chaindiscountvalue'], test_data['soldpieces'], test_data['revenue'], test_data['start_week'], lenc.transform(test_data['skutertiaryid'])))

In [210]:
test_data['sold_added'] = reg.predict(X)

In [211]:
test_data

,chaindiscountvalue,soldpieces,start_week,skutertiaryid,revenue,sold_added
0,0.273286,144445.0,1,7182,6481793,1.181599
1,0.184154,79144.0,2,7182,115390,0.825114
2,0.144723,48107.5,3,7182,185390,0.618102
3,0.083354,46719.5,4,7182,6175533,0.211962
4,0.179132,24101.0,5,7182,1637870313,-27.743649
5,0.347932,61615.0,6,7182,22919131,1.246876
6,0.390877,80830.0,7,7182,185770079,-1.365092
7,0.036407,64622.0,8,7182,94831908,-1.543999
8,0.329230,21797.5,9,7182,881049764,-13.801882
9,0.037454,89815.5,10,7182,5635622,0.032830
10,0.285331,86033.0,11,7182,334978210,-4.472267
11,0.158418,62710.0,12,7182,69104638,-0.477336
12,0.328225,49804.5,13,7182,308459643,-3.806304
13,0.344372,37489.0,14,7182,7970036,1.506533
14,0.326263,47471.5,15,7182,688631262,-10.432904
15,0.166334,43524.5,16,7182,1403272,0.746691
16,0.195207,48862.0,17,7182,341540886,-5.029548
17,0.117109,25868.5,18,7182,163434681,-2.321108
18,0.005343,63986.0,19,7182,39490603,-0.696725
19,0.053690,51435.0,20,7182,59230,0.228125
20,0.229237,46626.0,21,7182,17487087,0.797210
21,0.315044,36292.0,22,7182,300649388,-3.710719
22,0.277350,41326.0,23,7182,39601,1.344506
23,0.317751,63847.5,24,7182,480786549,-6.816492
24,0.190421,54336.0,25,7182,239968613,-3.254101
25,0.265030,43531.0,26,7182,913353,1.279373
26,0.185167,40573.0,27,7182,25721235,0.452941
27,0.007214,51392.0,28,7182,237202827,-4.106292
28,0.135971,48884.0,29,7182,37199552,0.019261
29,0.316074,68532.0,30,7182,9534529,1.407123
30,0.226504,25044.5,31,7182,278,1.113136
31,0.391905,46639.0,32,7182,8493,1.946795
32,0.204880,51366.0,33,7182,8713675,0.872310
33,0.237700,54894.0,34,7182,35970,1.191347
34,0.048646,38373.0,35,7182,344,0.249816
35,0.173677,36716.0,36,7182,902627572,-14.850907
36,0.167823,43389.0,37,7182,741698551,-12.070204
37,0.316041,40978.0,38,7182,64553781,0.463929
38,0.094070,37595.0,39,7182,6179730,0.380999
39,0.141818,34433.0,40,7182,0,0.727703
40,0.030681,45609.0,41,7182,119539919,-1.898073
41,0.190102,67278.0,42,7182,3497567,0.927571
42,0.276394,49553.0,43,7182,9606984,1.245183
43,0.334441,21539.0,44,7182,3222218,1.635773
44,0.281081,42698.0,45,7182,50956,1.438788
45,0.164633,41731.0,46,7182,3,0.864674
46,0.154854,66881.0,47,7182,314889261,-4.654966
47,0.078784,33689.0,48,7182,191962733,-2.902141
48,0.261099,34175.5,49,7182,7253790,1.224122
49,0.210337,40617.0,50,7182,767129157,-12.258866
50,0.343875,61075.0,51,7182,14027196,1.535546
51,0.040533,97291.0,52,7182,6453265,0.180990
52,0.216148,136937.0,53,7182,692938439,-10.885434

In [ ]:
import pickle

In [213]:
lenc.classes_

array([7182., 7189., 7193., 7194., 7205., 7232., 7234., 7236., 7238.])